body {
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
    color: white;
    background-color: #5e4870;
    text-align: center;
}

#box-rooms {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 30vh;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
}

#info-box {
    padding-top: 50px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

button {
    border: 0px;
    border-radius: 10px;
    width: 100px;
    height: 24px;
    background-color: #ffe017;
    margin-right: 10px;
}
